<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "container">
    <div class="bgimg"></div>
    <div>
        <h1 class="appname">Tranzit</h1>
        <p class="tagline">School Transport made easy</p>
        <ion-button expand="block" id="login">Block Button</ion-button>
        <ion-button expand="block" id="contact">Block Button</ion-button>
    </div>
</ion-content>
